html, body{
    height: 100dvh;
    margin: 0;

}

body{
    display: flex;
    flex-direction: column;

    >main{
        flex: 1;
        display: flex;
        flex-direction: column;

        >section{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 300px;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 20px;
    overflow: hidden;

    .medals-header{
        .gold, .silver, .bronze{
            font-size: 20px
        }
    }

    .gold, .silver, .bronze {
        font-size: 18px;
        font-weight: bold;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gold {
        color: gold;
    }

    .silver {
        color: silver;
    }

    .bronze {
        color: peru;
    }

    .medals-list {
        flex: 1;
        overflow-y: scroll;

        .item {
            display: grid;
            grid-template-columns: auto 1fr repeat(3, auto);
            gap: 6px;
            padding: 6px 10px;

            .rank {
                font-weight: bold;
                width: 16px;
                text-align: right;
                margin-right: 4px;
            }
        }
    }
}

.medals-header {
  font-size: 24px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 6px;

  padding: 10px;
  background-color: rgb(0, 49, 61);
  color: white
}

