/* @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U +0900 -097F, U +1CD0 -1CF9, U +200C -200D, U +20A8, U +20B9, U +20F0, U +25CC, U + A830-A839, U + A8E0-A8FF, U +11B00 -11B09;
} */


html, body{
    height: 100dvh;
    margin: 0;

}

body{
    font-family: Poppins, Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(0, 49, 61);
    padding-block: 20px;

    .logo{
        width: 100%;
        height: 100px;
        background-image: url(./mico2026-emblem-oly-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* width: 400px; */
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid grey; */
    /* border-radius: 20px; */
    overflow: hidden;

    .medals-header{
        .gold, .silver, .bronze{
            font-size: 20px
        }
    }

    .gold, .silver, .bronze {
        font-size: 18px;
        font-weight: bold;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gold {
        color: gold;
    }

    .silver {
        color: silver;
    }

    .bronze {
        color: peru;
    }

    .medals-list {
        flex: 1;
        overflow-y: scroll;

        .item {
            display: grid;
            grid-template-columns: auto 1fr repeat(3, auto);
            gap: 6px;
            padding: 6px 10px;
            align-items: center;

            .country {
                display: flex;
                align-items: center;
                gap: 6px;
                
                img{
                    border-radius: 2px;
                }
            }

            .rank {
                font-weight: bold;
                width: 16px;
                text-align: right;
                margin-right: 4px;
            }
        }
    }
}

.medals-header {
  font-size: 24px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 6px;

  padding: 10px;
  background-color: rgb(0, 49, 61);
  color: white
}

